llama-index
fastmcp
jupyter
llama_index[langchain]
tree-sitter
tree_sitter_language_pack
python-dotenv
llama-index-embeddings-azure-openai
llama-index-readers-github
llama-index-storage-docstore-redis
llama-index-vector-stores-redis